{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/foundation.css' %}">
    <title>Django</title>
</head>
<body>
<div class="top-bar">
    <section class="top-bar-section">
        <ul class="right">
            <li>
                {% if username %}
                <a href="/auth/logout/">Выйти ({{ username }})</a>
                {% else %}
                <a href="/auth/login/">Войти</a>
                {% endif %}
            </li>
        </ul>
    </section>

</div>
<h1><a href="/">Бложек</a></h1>
<div class="row">
{% block login %}{% endblock %}
{% block article %}{% endblock %}
{% block articles %}{% endblock %}

</div>

</body>
</html>